.App {
  text-align: left;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-group{
  width: 60%;
}
@media only screen and (max-width: 435px) {
  .input-group {
    width: 100%;
  }
}

.input-group>.form-control{
  border-radius: 0;
  padding: 0.05rem .5rem;
}

.border-bottom-input{
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #dee2e6;
}

.icon{
  font-size: 12px;
}

.table .thead-light th{
  background-color: #eee;
}

.curr-convert{
  padding: 7rem 0 8rem 0;
}

.fa-arrow-right-arrow-left{
  font-size: 22px;
  padding: 5px 0;
}

.arrow-btn{
  border: 0;
  background-color: transparent;
  margin: 0 2rem;
}

footer{
  height: 100px;
}